{% extends 'club/base.html' %}

{% block titulo %}
    Acerca de
{% endblock titulo %}

{% block main %}
<div style="text-align: center;">
    <h1>Acerca de... Gerardo Galo</h1>
    <p>Soy ingeniero electrónico, pronto a recibirse, y trabajo en una empresa de energía en el sector de datos como analista. Utilizo la programación diariamente para optimizar y analizar datos.</p>
    <p>Además, soy docente en la Universidad Nacional de San Luis, donde enseño en la carrera de Ingeniería Eléctrica.</p>
    <p>Vivo en San Luis Capital, mi tiempo libre paso con amigos, familia y hago deporte como el running. Disfruto de aprender y sobre todo a programar y nuevas tecnologías.</p>
</div>
{% endblock main %}
