<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Club Deportivo Messi</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            margin: 0;
            padding: 0;
            background: #f0f0f0;
            color: #333;
        }
        header, nav, main {
            text-align: center;
            padding: 10px;
        }
        nav a {
            color: white;
            background: #00b731;
            padding: 10px 20px;
            text-decoration: none;
            border-radius: 5px;
            margin: 5px;
        }
    </style>
</head>
<body>
    <header>
        <h1>{% block titulo %}{% endblock titulo %}</h1>
    </header>
    <nav>
        {% include 'club/navbar.html' %}
    </nav>
    <main>
        {% block main %}{% endblock main %}
    </main>
</body>
</html>
