{% extends 'club/base.html' %}

{% block titulo %}
    Deporte: Registros
{% endblock titulo %}

{% block main %}
    <button>
        <a href="{% url 'deporte_create' %}">➕Añadir Deporte</a>
    </button>
    {% for object in object_list %}
    <p>
        {{ object.nombre|upper }}
        <a href="{% url 'deporte_detail' object.id %}">Detalle</a>
        <a href="{% url 'deporte_edit' object.id %}">Editar</a>
    </p>
    {% empty %}
        <p> No hay registros para mostrar </p>    
    {% endfor %}
{% endblock main %}
