{% extends 'club/base.html' %}

{% block titulo %}
    Deporte: Registros
{% endblock titulo %}


{% block main %}
    <button>
        <a href="{% url 'deporte_create' %}">➕Añadir Deporte</a>
    </button>
    {% for object in object_list %}
        <p>{{ object.nombre|upper }} - Cuota: ${{ object.cuota_mensual }} - {% if object.disponible %} Disponible {% else %} No Disponible {% endif %}</p>
    {% empty %}
        <p> No hay registros para mostrar </p>    
    {% endfor %}
{% endblock main %}