{% extends 'club/base.html' %}

{% block titulo %}
    Instalaciones: Registros
{% endblock titulo %}

{% block main %}
    <button>
        <a href="{% url 'instalaciones_create' %}">➕Añadir Instalación</a>
    </button>
    {% for object in object_list %}
    <p>
        {{ object.nombre }}
        <a href="{% url 'instalaciones_detail' object.id %}">Detalle</a>
        <a href="{% url 'instalaciones_edit' object.id %}">Editar</a>
    </p>
    {% empty %}
        <p> No hay registros para mostrar </p>    
    {% endfor %}
{% endblock main %}
