{% extends 'club/base.html' %}

{% block titulo %}
    Instalaciones: Registros
{% endblock titulo %}

{% block main %}
    <button>
        <a href="{% url 'instalaciones_create' %}">➕Añadir Instalación</a>
    </button>
    <div style="display: flex; justify-content: center;">
        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Estado</th>
                    <th>Detalle</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                {% for object in object_list %}
                    <tr>
                        <td>{{ object.nombre }}</td>
                        <td>{% if object.disponible %} Disponible {% else %} No Disponible {% endif %}</td>
                        <td><a href="{% url 'instalaciones_detail' object.id %}">🔍</a></td>
                        <td><a href="{% url 'instalaciones_edit' object.id %}">✏️</a></td>
                        <td><a href="{% url 'instalaciones_delete' object.id %}">❌</a></td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="5">No hay registros para mostrar</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock main %}
